@import '@/index';

.chat {
    grid-area: 'chat';
    background-color: #111111;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    padding: 24px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #17171788;
}

.box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 2px;
}

.button { 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 32px;
    height: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8px;
    object-fit: cover;
    object-position: center;
}

.title {
    color: #B9B9B9;
    font-family: $font-stack;
    font-size: 20px;
    line-height: 24px;
}

.avatar {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    z-index: 2;

    &:nth-of-type(1) {
        transform: translateX(10px);
        z-index: 3;
    }

    &:nth-of-type(3) {
        transform: translateX(-10px);
        z-index: 1;
    }
}

.message-list {
    padding: 0 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0; }
}