.favorite-list {
    padding: 30px 30px;
    grid-area: favorite;
    background-color: #111111;
    display: flex;
    flex-direction: column;
}

.disc {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.title {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.icon {
    height: 26px;
}

.container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}