.personal-list {
    grid-area: personal;
    height: 100%;
    padding: 40px 32px;
    box-sizing: border-box;
    z-index: 2;
    background-color: #111111;
    -webkit-box-shadow: -20px -1px 22px -1px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: -20px -1px 22px -1px rgba(0, 0, 0, 0.47);
    box-shadow: -20px -1px 22px -1px rgba(0, 0, 0, 0.47);
    overflow-y: scroll;

    &::-webkit-scrollbar { width: 0; }
}

.box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 47px;
}

.subtitle {
    color: #B8B8B8;
    font-size: 20px;
    font-weight: 600;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (max-width: 1440px) {
    .personal-list {
        margin-top: 40px;
        padding: 0;
        max-width: 1024px;
        overflow-y: visible;
        box-shadow: none;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }

    .description {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
    }

    .title {
        color: #fff;
        font-size: 26px;
        font-weight: 500;
    }

    .image {
        height: 26px;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .box {
        margin: 0;
    }    
}

@media screen and (max-width: 1440px) {
    .personal-list {
        width: 100%;
        padding: 0;
    }

    .container {
        gap: 20px;
    }
}

@media screen and (max-width: 1075px) {
    .container {
        flex-direction: column;
        gap: 35px;
    }
}