.link {
    margin: 0;
    padding: 13px 13px;
    display: flex;
    width: 212px;
    border-radius: 6px;
    color: #B8B8B8;
    font-size: 16px;
    font-weight: 400;
    gap: 15px;
    z-index: 3;
    cursor: pointer;
    transition: background-color .3s linear;
    text-decoration: none;

    &:hover {
        background-color: #2c2c2cc8;
    }

    &:active {
        background: linear-gradient(90deg, #ac15a1 0%, #800cb2 100%);
    }
}

.image {
    margin: 0;
    padding: 0;
    height: 19px;
}