.discover-genre {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.title {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.image {
    height: 26px;
}

.container {
    margin: 0 auto 0;
    width: 762px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1075px) {
    .container {
        width: 520px;
    }
}

@media screen and (max-width: 860px) {
    .container {
        width: 100%;
    }
}