.navigation {
    grid-area: menu;
    padding: 0 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    -webkit-box-shadow: 20px 0 22px 0 rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 20px 0 22px 0 rgba(0, 0, 0, 0.47);
    box-shadow: 20px 0 22px 0 rgba(0, 0, 0, 0.47);
    z-index: 2;
}

.logo {
    margin-top: 30px;
    margin-bottom: 64px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.border-gradient {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(172,21,161,1) 0%, rgba(128,12,178,1) 100%);
    border-image-slice: 1;
    margin-bottom: 35px;
}

.title {
    margin-bottom: 10px;
    width: 212px;
    color: #B8B8B8;
    font-size: 20px;
    font-weight: 500;
    display: flex;
}