.artist {
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: space-between;
    background-color: #23232367;
    padding: 10px 15px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.album {
    color: #B8B8B8;
    font-size: 12px;
    font-weight: 400;
}

.button {
    padding: 0;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform .3s ease-in;

    &:hover {
        transform: scale(1.2, 1.2);
    }
}

.image {
    width: 22px;
    height: 22px;
    object-fit: cover;
    object-position: center;
}