.hamburger-menu {
    &.open .menu__box {
        left: 0 !important;
    }

    // position: relative;
    overflow-x: hidden;
    z-index: 5;
}

.menu__toggle {
    opacity: 0;

    &:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

    &:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    &:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    &:checked ~ .menu__box {
        left: 0 !important;
    }
}

.menu__btn {
    position: absolute;
    top: 20px;
    left: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 4;

    > span,
    > span::before,
    > span::after {
        display: block;
        position: absolute;
        width: 26px;
        height: 2px;
        background-color: #616161;
        transition-duration: 0.25s;
    }

    > span::before {
        content: '';
        top: -8px;
    }

    > span::after {
        content: '';
        top: 8px;
    }
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #111111;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 3;

    overflow-y: auto;
    overflow-x: hidden;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;

    &:hover {
        background-color: #cfd8dc;
    }
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
