@import '@/index';

.button {
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #7A7A7A;
    transition: .3s ease;
    
    &:hover {
        transform: scale(1.1);
    }
}

.heart {
    width: 22px;
    height: 22px;
    object-fit: cover;
    object-position: center;
}