.container {
    grid-area: content;
    background-color: #111111;
    padding: 30px 30px 120px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar { width: 0; }
}