@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-stack: 'Inter', sans-serif;

/* normalization */
* {
    box-sizing: border-box;
    // scrollbar-width: thin;
    // scrollbar-color: rgba(172,21,161,1) #111111;
}

body {
    font-family: $font-stack;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}



ol,
ul {
    list-style: none;
    padding: 0;
}

body,
h1,
h2,
h3,
p,
li,
ol,
ul {
    margin: 0;
}

input,
button {
    outline: none;
}

a {
    text-decoration: none;
}