@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$font-stack: 'Inter', sans-serif;

/* normalization */
* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // overflow-x: hidden;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

body,
h1,
h2,
h3,
p,
li,
ol,
ul {
    margin: 0;
}

input,
button {
    outline: none;
}

a {
    text-decoration: none;
}